<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="mqlsetup.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="mqlsetup.Perspective"
            id="MQLSetup.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="mqlsetup.View"
            id="MQLSetup.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="MQLSetup.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="qmm.qmmPackage"
            genModel="model/QMM.genmodel"
            uri="/MQLSetup/model/QMM.ecore">
      </package>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QMM -->
      <package
            uri="/MQLSetup/model/QMM.ecore"
            class="qmm.qmmPackage"
            genModel="model/QMM.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="qmm.util.qmmResourceFactoryImpl"
            type="qmm">
      </parser>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="MQLSetup.application"
            name="MQLSetup">
         <property
               name="appName"
               value="MQLSetup">
         </property>
      </product>
   </extension>

</plugin>
